spring:
  application:
    name: goormitrip
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}

app:
  jwt:
    secret: ${JWT_SECRET_KEY}
    expiration: 1800000